@import url('https://fonts.googleapis.com/css2?family=Fira+Code&family=Roboto+Condensed&display=swap');

body {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    font-family: 'Fira Code', monospace;
    background: var(--color-primary);
    color: var(--font-color);
    box-sizing: border-box;
    min-height: 100vh;
}

html{
    scroll-behavior: smooth;
}

main{
    flex: 1 0 auto;
}

.theme-dark {
    --color-primary: rgb(14, 17, 17);
    --color-secondary: linear-gradient(109.6deg, rgb(36, 45, 57) 11.2%, rgb(16, 37, 60) 51.2%, rgb(0, 0, 0) 98.6%);;
    --color-accent: #4F4F4F;
    --font-color: #ffff;
    --hover-color: #4F4F4F;
    --button-background:#1a293a;
  }
  .theme-light {
    --color-primary: #F9F5F6;
    --color-secondary: linear-gradient(to top, #fff1eb 0%, #ace0f9 100%);
    --color-accent: #F8E8EE;
    --font-color: rgb(14, 17, 17);
    --hover-color: #b6e2f7;
    --button-background:#b5e1f7;
  }


/*nav bar section*/
.name-home {
    text-decoration: none;
    color: #ffff;
    align-self: center;
    margin-left: 1.5em;
}

.links>li {
    list-style: none;
}

.link {
    text-decoration: none;
    color: var(--font-color);
    margin-right: 15px;
    transition: 0.2s;
}

.nav-bar {
    top: 0;
    background-color: var(--color-primary);
    position: fixed;
    display: flex;
    width: 100%;
    align-content: center;
    justify-content: space-between;
    font-size: 1em;
}

.menu{
    display: none;
    font-size: 2em;
}

.links {
    display: flex;
    justify-content: space-evenly;
}

.link:hover{
    color: var(--hover-color);
}



/*-----------------------------------*/


/*Presentation styles*/
.presentation {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    background: var(--color-secondary);
    padding: 1.3em;
    margin-top: 50px;
    margin-bottom: 50px;
}


.message {
    font-size: 2.3em;
}

.messages {
    width: 50%;
}


.social-link{
    text-decoration: none;
    color:  var(--font-color);
    font-size: 1.5em;
    transition:0.2s;
}
.social-link:hover{
    color: var(--hover-color);
}


/*-----------------------------------*/

/*abilities section*/
.tech{
    text-align: left;
    padding: 1.3em;
}

.tech>.titles{
    padding-left: 2em;
}

.icons-container{
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: space-evenly;
    padding: 25px;
}
.icon{
    height: 95px;
    transition: 0.5s;
}

.icon:hover{
    translate: 0 -10%;
    cursor: pointer;
}

/*-----------------------------------*/

.btn{
    display: block;
    background: var(--button-background);
    color: var(--font-color);
    text-decoration: none;
    padding: 10px;
    border-radius: 10px;
}


/*projects section*/
.projects{
    margin-top: 1.5em;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    text-align: center;
}

.projects-title{
    flex-basis: 100%;
}

.project{
    display: flex;
    flex-direction: column;
    margin: 10px;
    padding: 20px;
    flex-basis: 300px;
    background: var(--color-accent);
    border-radius: 20px;
    transition: 0.5s;
}

.project-img{
    height: 170px;
}

/*-----------------------------------*/

/*form contact*/
.contact{
    text-align: center;
    margin: 50px 0 50px 0;
}

.contact-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.contact-data{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
}


/*-----------------------------------*/

/*footer section*/
.footer{
    /*background: var(--color-accent);*/
    flex-shrink: 0;
    text-align: center;
}


/*-----------------------------------*/

/*change theme section*/
.switch {
    font-size: 17px;
    position: relative;
    display: inline-block;
    width: 64px;
    height: 34px;
    align-self: center;
    margin-left: 10px;
  }
  
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #73C0FC;
    transition: .4s;
    border-radius: 30px;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 30px;
    width: 30px;
    border-radius: 20px;
    left: 2px;
    bottom: 2px;
    z-index: 2;
    background-color: #e8e8e8;
    transition: .4s;
  }
  
  .sun svg {
    position: absolute;
    top: 6px;
    left: 36px;
    z-index: 1;
    width: 24px;
    height: 24px;
  }
  
  .moon svg {
    fill: #73C0FC;
    position: absolute;
    top: 5px;
    left: 5px;
    z-index: 1;
    width: 24px;
    height: 24px;
  }
  
  /* .switch:hover */.sun svg {
    animation: rotate 15s linear infinite;
  }
  
  @keyframes rotate {
   
    0% {
      transform: rotate(0);
    }
  
    100% {
      transform: rotate(360deg);
    }
  }
  
  /* .switch:hover */.moon svg {
    animation: tilt 5s linear infinite;
  }
  
  @keyframes tilt {
   
    0% {
      transform: rotate(0deg);
    }
  
    25% {
      transform: rotate(-10deg);
    }
  
    75% {
      transform: rotate(10deg);
    }
  
    100% {
      transform: rotate(0deg);
    }
  }
  
  .input:checked + .slider {
    background-color: #183153;
  }
  
  .input:focus + .slider {
    box-shadow: 0 0 1px #183153;
  }
  
  .input:checked + .slider:before {
    transform: translateX(30px);
  }
/*---------------------*/

/*Media querys section*/
@media only screen and (max-width: 600px) {
    .messages {
        width: 100%;
    }

    .presentation {
        justify-content: space-evenly;
    }


    .navbar{
        height: 0;
        position: absolute;
        top: 50px;
        width: 100vw;
        transition: 0.2s;
        background: transparent;
        backdrop-filter: blur(100px);
    }

    .navbar>.links{
        height: 100%;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        opacity: 0;
        padding: 0;   
        transition: 0.2s; 
    }

    .navbar.active{
        /*aqui podemos establecer que no cubra toda la pantalla*/
        /*width: 80%;*/
        height: 100vh;
    }
    .navbar.active>.links{
        opacity: 1;
    }


    .links>li{
        padding:10px;
    }

    .link{
        font-size: 2em;
    }

    .menu{
        display: flex;
        padding: 5px;
    }

}

@media only screen and (max-width: 768px) {
    .messages {
        width: 100%;
    }

    .presentation {
        justify-content: space-evenly;
    }
}

